{% extends "templates/base.html" %}


{% block headerBar %}
   <li><a href="/">Home</a></li>
   <li><a href="/contact">Contact</a></li>
{% endblock headerBar %}


{% block content %}

<div style="-webkit-user-select: none; -moz-user-select: none;">
<h1>Best Friends</h1>
<p>Send Morse code to your friend across the street.</p>


<br />
<br />

<div class="row">
   
   <div id="straight-key-div" class="span2">
      <a class="btn" id="straight-key">Signal</a>
   </div>
   
   <div id="communication-line-div" class="span6">
      <canvas id="communicationLineCanvas" width="500" height="50"></canvas>
   </div>
   
   <div id="messageBoxDiv" class="span1 offset1">
      <textarea id="messageBox"></textarea>
   </div>
</div>

<br />
<br />

<div class="row">
   <table class="table table-bordered">
      <tr>
         <td>A</td>
         <td>&#149 &#150</td>
         <td>J</td>
         <td>&#149 &#150 &#150 &#150</td>
         <td>S</td>
         <td>&#149 &#149 &#149</td>
      </tr>
      <tr>
         <td>B</td>
         <td>&#150 &#149 &#149 &#149</td>
         <td>K</td>
         <td>&#150 &#149 &#150</td>
         <td>T</td>
         <td>&#150</td>
      </tr>
      <tr>
         <td>C</td>
         <td>&#150 &#149 &#150 &#149</td>
         <td>L</td>
         <td>&#149 &#150 &#149 &#149</td>
         <td>U</td>
         <td>&#149 &#149 &#150</td>
      </tr>
      <tr>
         <td>D</td>
         <td>&#150 &#149 &#149</td>
         <td>M</td>
         <td>&#150 &#150</td>
         <td>V</td>
         <td>&#149 &#149 &#149 &#150</td>
      </tr>
      <tr>
         <td>E</td>
         <td>&#149</td>
         <td>N</td>
         <td>&#150 &#149</td>
         <td>W</td>
         <td>&#149 &#150 &#150</td>
      </tr>
      <tr>
         <td>F</td>
         <td>&#149 &#149 &#150 &#149</td>
         <td>O</td>
         <td>&#150 &#150 &#150</td>
         <td>X</td>
         <td>&#150 &#149 &#149 &#150</td>
      </tr>
      <tr>
         <td>G</td>
         <td>&#150 &#150 &#149</td>
         <td>P</td>
         <td>&#149 &#150 &#150 &#149</td>
         <td>Y</td>
         <td>&#150 &#149 &#150 &#150</td>
      </tr>
      <tr>
         <td>H</td>
         <td>&#149 &#149 &#149 &#149</td>
         <td>Q</td>
         <td>&#150 &#150 &#149 &#150</td>
         <td>Z</td>
         <td>&#150 &#150 &#149 &#149</td>
      </tr>
      <tr>
         <td>I</td>
         <td>&#149 &#149</td>
         <td>R</td>
         <td>&#149 &#150 &#149</td>
         <td />
         <td />
      </tr>
   </table>
</div>

</div>
{% endblock content %}

{% block extrajs %}
   <script src="/public/js/best_friends.js"></script>
{% endblock extrajs %}
